html, body {
    overflow-x: hidden;
}
html, button, input{
    font-family: 'Cabin', sans-serif !important;
}
:root {
    --vs-primary: 105, 80, 40 !important;
    --vs-success: 23, 201, 100;
    --vs-danger: 242, 19, 93;
    --vs-warn: 254, 130, 0 !important;
    --vs-dark: 36, 33, 69;
}

.no-shadow > .vs-card{
    box-shadow:none;
}
.low-shadow > .vs-card{
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .05) !important;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .05) !important;
}

.hh-shadow > .vs-card{
    &:hover {
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .12) !important;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .12) !important;
        transform: none !important;
    }
}
.vs-card{
    border-radius: 6px;
    cursor: default;
    max-width: none !important;
    &:hover {
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .05) !important;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity)) !important;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .05) !important;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity)) !important;
        transform: none !important;
    }
    &.flat{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        background: none !important;
    }
}

.vs-card-content{
    &.flat .vs-card{
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        background: none !important;
    }
    &.fluid .vs-card{
        width: 100%;
        max-width: none;
    }
}


.vs-button{
    margin-left: 0;
    margin-right: 0;
}

.vs-table table{
    min-width: 0 !important;
}

textarea{
    border: 2px solid transparent;
    background: rgba(244, 247, 248, 1);
    background: rgba(var(--vs-gray-2), 1);
    color: rgba(44, 62, 80, 1);
    color: rgba(var(--vs-text), 1);
    padding: 7px 13px;
    border-radius: 16px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    padding-left: 10px;
    font-family: inherit;
    resize: none;
    &.vs-textarea{
        resize: none;
        width: 100%;
        height: 10rem;
        border-radius: 16px;
        font-family: inherit;
    }
}

.vs-navbar__item {
    padding: 8px 10px !important;
    font-size: 15px !important;
}

.vs-navbar__item, .vs-navbar__group__item{
    color: rgba(var(--vs-primary), 1);
}

.defanim-enter-active, .defanim-leave-active {
    transition: all .2s;
    transition-timing-function: cubic-bezier();
    transform-origin: 0 0;
}
.defanim-enter, .defanim-leave-to {
    transform: scaleY(0.3);
    margin-top: -20%;
    opacity: 0;
}

a{
    color: rgba(var(--vs-primary), 1);
    text-decoration: none;
    transition: color .2s;
    &:hover{
        color: rgba(var(--vs-primary), 0.7);
    }
}

.p-color{
    color: rgba(var(--vs-primary), 1);
}

hr{
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    margin: 0.5rem 0;
}