html, button{
    font-family: 'Cabin', sans-serif !important;
}
:root {
    --vs-primary: 105, 80, 40 !important;
    --vs-success: 23, 201, 100;
    --vs-danger: 242, 19, 93;
    --vs-warn: 254, 130, 0 !important;
    --vs-dark: 36, 33, 69;
}

.no-shadow > .vs-card{
    box-shadow:none;
}
.low-shadow > .vs-card{
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .05) !important;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .05) !important;
}

.hh-shadow > .vs-card{
    &:hover {
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .12) !important;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .12) !important;
        transform: none !important;
    }
}
.vs-card{
    border-radius: 6px;
    cursor: default;
    &:hover {
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .05) !important;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity)) !important;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .05) !important;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, var(--vs-shadow-opacity)) !important;
        transform: none !important;
    }
}


.vs-button{
    margin-left: 0;
    margin-right: 0;
}

textarea{
    border: 2px solid transparent;
    background: rgba(244, 247, 248, 1);
    background: rgba(var(--vs-gray-2), 1);
    color: rgba(44, 62, 80, 1);
    color: rgba(var(--vs-text), 1);
    padding: 7px 13px;
    border-radius: 16px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    padding-left: 10px;
    font-family: inherit;
    resize: none;
}

.vs-navbar__item {
    padding: 8px 10px !important;
    font-size: 15px !important;
}

$textColor: #695028;
.vs-navbar__item, .vs-navbar__group__item{
    color: $textColor;
}

.defanim-enter-active, .defanim-leave-active {
    transition: all .2s;
    transition-timing-function: cubic-bezier();
    transform-origin: 0 0;
}
.defanim-enter, .defanim-leave-to {
    transform: scaleY(0.3);
    margin-top: -20%;
    opacity: 0;
}