@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #5D6AAC;
  transition: 0.4s;
  background-color: #AC9F5D40;
}

@media (hover: hover) {
  a:hover {
    background-color: #AC9F5D80;
  }
}

.p-button{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  background: #3f455a;
  color: #f0f1f4;
  line-height: 1;
  padding: 12px 28px;
  cursor: pointer;
  border: 2px solid #3f455a;
  transition: all 0.3s;
}
.p-button:hover {
  cursor: pointer;
  background: #68c5f9;
  border-color: #68c5f9;
  text-decoration: none;
  color: #fff;
}

.s-button{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  background: transparent;
  color: #3f455a;
  line-height: 1;
  padding: 12px 28px;
  cursor: pointer;
  border: 2px solid #3f455a;
  transition: all 0.3s;
}
.s-button:hover {
  cursor: pointer;
  background: #68c5f9;
  text-decoration: none;
  border-color: #68c5f9;
  color: #fff;
}

.feature-box{
  padding: 1rem;
  /* border: 1px solid #526D6F; */
  margin-bottom: 6px;
  background: #F2F2F2;
  font-weight: bold;
  /* border-radius: 4px; */
}

.feature-box .ui.checkbox label{
  font-weight: bold;
}

input{
  border: 1px solid #526D6F !important;
  border-radius: 3px !important;
  padding: 0.8rem 1rem !important;
  line-height: 1 !important;
  color: black !important;
  background: #526d6f0a !important;
  font-size: 16px !important;
  font-family: "Ubuntu" !important;
}